{% extends 'blog/base.html' %}

{% block content %}
<div class="container mt-3 mb-5">
  <div class="row">
    <!-- Side widgets-->
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
            alt="avatar"
            class="rounded-circle img-fluid"
            style="width: 150px"
          />
          <h5 class="my-3">{{ user }}</h5>
          <div class="mt-2">
            <a
              href="{% url 'user:profile' %}"
              class="btn btn-outline-primary ms-1"
              style="background-color: #20215b; color: white; border: none"
              >Profile</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Blog entries-->
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <a
            href="{% url 'create_article' %}"
            class="btn btn-outline-primary ms-1"
            style="background-color: #20215b; color: white; border: none"
            >Add New Post</a
          >
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Created Date</th>
                <th>Category</th>
                <th>Author</th>
                <th>Function</th>
              </tr>
            </thead>
            <tbody>
              {% for x in articles %}
              <tr>
                <td>{{ x.title }}</td>
                <td>{{ x.date }}</td>
                <td>{{ x.category }}</td>
                <td>{{ user }}</td>
                <td style="display: flex">
                  <a
                    href="{% url 'edit_article' x.id %}"
                    class="btn btn-outline-primary ms-1"
                    style="
                      background-color: #20215b;
                      color: white;
                      border: none;
                    "
                    >Edit</a
                  >
                  <a
                    href="{% url 'delete_article' x.id %}"
                    class="btn btn-danger ms-1";
                    style="border: none; background-color: #D62828; background-image: none;"
                    >Delete</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
